import {Injectable} from '@angular/core';

/**
 * <%= classify(name) %>Service
 */
@Injectable({
                providedIn: 'root'
            })
export class <%= classify(name) %>Service {

    /**
     * Constructeur
     */
    constructor() {
    }

}
